<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <script src="{% static 'script.js' %}"></script>
    <title>BingoGame</title>
</head>

<body class="body-bg-color">
    <div class="container-fluid m-0 px-5 pt-5 pb-0">
        <div class="row m-0 p-0">
            <h1 class="font-weight-bold d-block w-100 mb-3">BingoBingy!</h1><br>
            <form action="/" method="GET" class="w-50 d-block m-0 px-2">
                <div class="form-row">
                    <input name="keyword" type="text"
                        class="form-control col-8 border border-light p-4 rounded-0 text-light align-middle"
                        placeholder="Type in your keyword here..." style="background-color: black;" required>
                    <button type="submit" class="col-4 btn btn-outline-light p-1 rounded-0 align-middle">Submit &
                        Play!</button>
                </div>
            </form>
        </div>
    </div>
    <div class="container-fluid m-0 p-5">
        <div class="row m-0 p-0 px-1">
            <ul class="list-inline">
                <li class="list-inline-item align-middle">
                    <h2 class="m-0">Time Left: 30m 0s</h2>
                </li>
                <li class="list-inline-item align-middle">
                    <select name="time-select" id="timer-select" class="btn btn-outline-light py-2 px-4">
                        <option value=""></option>
                    </select>
                </li>
            </ul>
        </div>
        <div class="row w-100 m-0 p-0">
            <div class="col-md-9 col-sm-12 m-0 p-0">
                <div id="bingo-board" class="container-fluid m-0 p-0">
                    {% for row in rows %}
                    <div class="row m-0 p-0">
                        {% for word in row %}
                        <div class="col m-0 p-1">
                            <button class="btn btn-outline-light text-center w-100 h-100 word-btn">
                                {{ word.word }}
                            </button>
                        </div>
                        {% endfor %}
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-3 col-sm-12 m-0 p-0 px-3 align-items-center">
                <ul class="list-inline text-center m-0">
                    <li>
                        <h3>Leaderboard:</h3>
                    </li>
                    <li class="my-5">
                        <h5>* TOTAL PLAYED *</h5>
                        <ul class="list-inline">
                            <li class="list-inline-item">Javascript</li>
                            <li class="list-inline-item">Javascript</li>
                            <li class="list-inline-item">Javascript</li>
                            <li class="list-inline-item">Javascript</li>
                            <li class="list-inline-item">Javascript</li>
                        </ul>
                    </li>
                    <li class="mb-5">
                        <h5>* TOTAL PLAYED *</h5>
                        <ul class="list-inline">
                            <li class="list-inline-item">Javascript</li>
                            <li class="list-inline-item">Javascript</li>
                            <li class="list-inline-item">Javascript</li>
                            <li class="list-inline-item">Javascript</li>
                            <li class="list-inline-item">Javascript</li>
                        </ul>
                    </li>
                    <li>
                        <h5>* TOTAL PLAYED *</h5>
                        <ul class="list-inline">
                            <li class="list-inline-item">Javascript</li>
                            <li class="list-inline-item">Javascript</li>
                            <li class="list-inline-item">Javascript</li>
                            <li class="list-inline-item">Javascript</li>
                            <li class="list-inline-item">Javascript</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</body>

</html>